output:hover + aside {
  opacity: 1;
}



/* BODY & PAGE LAYOUT */

body {
    background-color: #000000;
    margin-top: 7%;
    /*margin-left: 5%;
    margin-right: 5%;*/
    font-family: Arial, Verdana, Helvetica, sans-serif;
    text-align: center;
}

.index-page-wrap {
	width: 80%;
	margin: auto auto;
	min-width: 260px;
	max-width: 460px;
}

.about-page-wrap {
	width: 50%;
	margin: 0 auto;
	min-width: 260px;
    max-width: 500px;
    text-align: left;
}

.docs-page-wrap {
	width: 75%;
	margin: 0 auto;
	min-width: 260px;
    max-width: 500px;
    text-align: left;
}


/* HEADER & TEXT STYLES */

h1 {
	color: #999;
	font-size: 1.5em;
}

h2 {
	color: #444;
	font-size: 1em;
}

h3 {
	color: #666;
	font-size: 0.9em;
	padding-top: 1em;
	padding-bottom: 0.5em;
	margin: 0px;
}

h6 {
	color: #444;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}

p {
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	color: #666;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

li {
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	color: #666;
	text-decoration: none;
}

li.star {
 	height: 19px;
    margin: 10px 0;
    background: url('favicon.ico') no-repeat left center;
    list-style: none;
    padding-left: 25px;
    line-height: 20px;
}

/* LINKS & COLOUR */

a {
	color: #888;
	text-decoration: none;
	/* HOVER OUT SLOWLY */
	-webkit-transition: 0.5s ease-in-out;
  	-moz-transition: 0.5s ease-in-out;
  	-o-transition: 0.5s ease-in-out;
  	-ms-transition: 0.5s ease-in-out;
  	transition: 0.5s ease-in-out;
}

a:hover {
	color: #FF7700;
	/* HOVER IN FAST */
	-webkit-transition: 0s;
  	-moz-transition: 0s;
  	-o-transition: 0s;
  	-ms-transition: 0s;
  	transition: 0s;
}

a:active {color: #008080;}

a.headerlink {color: #008080; border-bottom: dotted 2px #bbb;}
a.headerlink:hover {color: #FF7700; border-bottom: dotted 2px #ff7700;}
a.headerlink:active {color: #999;}

a.anchor {color: #777;}

a#download {color: #008080; font-weight: bold;}
a#download:hover {color: #FF7700;}
a#download:active {color: #999;}

i {color: #999;}

.orange {color: #FF7700; display: inline;}
.teal {color: #008080; display: inline;}

/* TABLE ELEMENTS */

table {
    font-family: Arial, sans-serif;
	color: #666;
	font-size: 0.8em;
}

table.form {
	width: 100%;
	max-width: 500px;
	background-color: #E6E6E6;
    border: 1px solid #008080;
    padding: 20px;
}

div#saveInfo {
	display: none;
	color: #444;
	font-size: 0.8em;
	width: 60%;
	margin: auto auto;
	min-width: 260px;
	max-width: 650px;
}

#whitespace {
	background-color: #FFF;
	width: 50px;
	height: 500px;
	margin: 0 auto;
	display: block;
}

textarea#source {
	width: 100%;
	mwidth: 260px;
	height: auto;
	margright: 20px;
	margleft: -20px;
	padding: 20px; 
    overflow-x:; hidden;
    -ms-overflow-x: hidden;
    background-color: #E6E6E6;
    border: 1px solid #008080;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono", "Courier New", monospace ;
    font-size: 0.8em;
    color: #333;
    text-align: left;
}
textarea#source::-webkit-scrollbar {
	width: 10px;
}
textarea#source::-webkit-scrollbar-track {
    background-color: #E6E6E6;
}
textarea#source::-webkit-scrollbar-thumb {
	background-color: #008080;
}

textarea#source:focus {
    color: #008080;
    border: solid 1px #FF7700;
}
textarea#source:focus::-webkit-scrollbar-thumb {
	background-color: #FF7700;
}

.table-header {
	text-align: center;
	padding-left: 20px;
}

.label {
	text-align: right;
	padding-right: 10px;
	width: 30%;
}

.input-field {
	text-align: left;
}

.table-footer {
	text-align: center;
}

/* TEXT INPUT FIELDS */

input[type="text"] {
	font-family: Arial, Sans-Serif;
    color: #444;
    margbottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #BBBBBB;
    width: 90%;
}

input[type="text"]:focus {
    color: #008080;
    border: solid 1px #FF7700;
}


/* DROPDOWN */

select {
	text-align: left;
    color: #444;
    margbottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #BBBBBB;
}

select:focus {
    color: #008080;
    border: solid 1px #FF7700;
}

/* CHECKBOXES */

.checkbox-field, .radio-field {
	text-align: left;
    color: #444;
    margbottom: 5px;
    display: block;
    padding: 4px;
}

input[type=checkbox] {  

}  


/* BUTTONS */

.button {
	appearance: button; /* CSS3 */	
	-webkit-appearance: button; /* Safari and Chrome */
	-moz-appearance: button; /* Firefox */
	-ms-appearance: button; /* Internet Explorer */
	-o-appearance: button; /* Opera */
    font: menu;
    color: #444;
    display: inline-block;
    padding: 4px 12px;
}

button {
	font: menu;
    color: #444;
    display: inline-block;
    padding: 4px 12px;
}



/* FOOTER */

.footer {
	font-size: 0.8em;
	text-align: center;
	color: #666;
}